BasedOnStyle: LLVM
ColumnLimit: 110
IndentWidth: 4
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
BreakBeforeBraces: Attach
AlwaysBreakTemplateDeclarations: Yes
SpaceBeforeParens: ControlStatements
SortIncludes: false
